body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #483ff1;
}

header {
  background-color: #e35e05;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
  background-color: #34495e;
}

nav ul li a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #2c3e50;
}

/* Cuadro centrado para cada ejercicio */
.cuadro {
  background-color: white;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 1rem;
}
